<div *ngIf="isDataLoaded" class="flex flex-col items-center gap-4">

  <div class="bg-base-200 p-4 w-full lg:w-1/2 mx-auto grid gap-4">
    <div class="flex justify-center gap-4">
      <p class="font-bold">Produto: </p>
      <p>{{ data.name }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Descrição: </p>
      <p>{{ data.description }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Preço: </p>
      <p>{{ data.price | currency: "BRL" }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Mês: </p>
      <p>{{ data.month }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Status: </p>
      <p>{{ data.status === 'pending' ? 'Pendente' : 'Comprado' }}</p>
    </div>
  </div>
  <button class="btn btn-primary" (click)="back()">Voltar</button>
</div>
